form {
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    row-gap: 5px;
    text-align: left;
  }
  
  form input {
    outline: none;
  }
  
  form button {
    background-color: rgb(52, 247, 14);
    margin-top: 10px;
    width: 80px;
    padding: 5px 0 ;
    border: 1px solid grey;
    outline: none;
    font-weight: 600;
  }
  
  h2 {
    text-align: center;
    
  }
  
  form label {
    text-align: left;
  }